.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin: 20px 0;
}

.pagination button {
  padding: 12px 12px;
  border: none;
  background: transparent;
  cursor: pointer;
  border-radius: 50%;
  color: white;
  width: 12px;
  height: 39px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
}

.pagination :hover:not(:disabled) {
  color: #FF0000;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination .active{
  position: relative;
  color:#FF0000;
}

.pagination .active::after{
  content: "";
  width: 5px;
  height: 5px;
  background-color: #FF0000;
  border-radius: 50px;
  position: absolute;
  bottom: -3px;
  right: 37%;
}
