.movieList{
  display: flex;
  overflow-x: scroll;
  max-width: 100%;
  height: 300px;
  gap: 1rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
 scrollbar-color: rgb(17, 12, 40) transparent;
  perspective: 1200px;
  align-items: center;
}

.movieList li {
  flex: 0 0 auto;
  transform-style: preserve-3d;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.movieList li:hover img{
  box-shadow: 0px 0px 20px 0px #d3d1f0;
}

.imgCover {
  width: 200px;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.4);
  transition: transform 0.3s ease, opacity 0.3s ease;
}