.mainSection{
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  color: aliceblue;
  white-space: nowrap;
  perspective: 1000px;
  padding: 0;
}

.mainSection h2{
  height: 51px;
  font-size: 35px;
  margin: 0;
  text-align: center;
}

/*genres Section*/

.mainSection .genresSection{
  max-width: 100%;
  height: 440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 150px;
}

.mainSection .genresSection div{
  width: 100%;
  display: flex;
  justify-content: space-between;
  white-space: wrap;
  align-items: center;
}

.genresSection .sectionTitle{
  font-size: 35px;
  text-transform: capitalize;
  width: 345px;
  height: 79px;
  text-align: justify;
}

.mainSection .genresSection .sectionText,
.mainSection .devicesSection .text{
  width: 429px;
  font-size: 18px;
  margin: 0;
  line-height: 26px;
  height: 57px;
  opacity: 0.7;
}

.mainSection .genresList{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 0;
  margin: 0;
  gap: 10px;
}

.mainSection .genresList li{
  width: 150px;
  height: 73px;
  list-style-type: none;
  background-color: rgb(31, 20, 129);
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.mainSection .genresList li svg{
  fill: transparent;
}
.mainSection .genresList span{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 37px;
}

.mainSection .genresList span a{
  font-size: 12px;
  color: #6c58ca;
  font-weight: bold;
}

/*devices Section*/

.mainSection .devicesSection{
  max-width: 100%;
  height: 265px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 150px;
  align-items: center;
  text-align: center;
}

.mainSection .devicesSection .devicesList{
  width: 600px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 50px 0 0 0;
}

.mainSection .devicesSection .devicesList li{
  max-width: 150px;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
}

/*actors list*/
.mainSection .popularCelebritiesSection,
.mainSection .isPopularSection{
  width: 100%;
  height: 328px;
  margin-bottom: 150px;
  position: relative;
}

.mainSection .popularCelebritiesSection h2,
.mainSection .isPopularSection h2{
  margin-bottom: 15px;
}

.mainSection .moveBtn{
  width: 100%;
  height: 74px;
  display: flex;
  position: absolute;
  justify-content: space-between;
  top: 50%;
}

.mainSection .moveBtn button{
  width: 50px;
  height: 70px;
  border-radius: 24px;
  border: none;
  background-color: #f0f8ff9c;
  font-size: 29px;
  cursor: pointer;
}

.mainSection .moveBtn button:hover{
  background-color: #f0f8ffed;
  color: rgb(14, 14, 60);
}
.mainSection .actorsList{
  display: flex;
  height: 276px;
  padding: 0;
  list-style-type: none;
  margin: 0 0 150px 0;
  gap: 20px;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
}

@keyframes slide-left {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.mainSection .actorsList li{
  width: 160px;
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 400;
  text-align: center;
  justify-content: space-evenly;
}

.mainSection .actorsList li h3{
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mainSection .actorsList img{
  width: 160px;
  height: 180px;
  border-radius: 50%;
}

/*trending Section*/

.mainSection .trendingSection{
  width: 100%;
  height: 650px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.mainSection .trendingList{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 532px;
  gap: 50px;
}

.mainSection .trendingList li{
  width: 330px;
  height: 490px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.mainSection .trendingList .titleMovieInTrending{
  font-size: 18px;
  width: 100%;
  height: 30px;
}

.mainSection .trendingList .recentMovie img{
  box-shadow: 0px 0px 60px 0px #d3d1f0;
  border-radius: 100%;
  width: 257px;
  height: auto;
  display: block;
  margin: auto;
  position: absolute;
  z-index: 00000000000000;
  top: 69px;
}

.mainSection .trendingList .recentMovie:nth-child(2){
  transform: scale(1.2);
}

.mainSection .trendingList .recentMovie .titleArc {
  width: 475px;
  height: 307px;
  pointer-events: none;
  z-index: 111;
}

.mainSection .isPopularSection{
  margin-bottom: 0;
  height: 370px;
}


