.mainSection{
  position: relative;
  width: 100%;
  height: 100%;
}

.imgCover{
  width: 100%;
  height: 900px;
  object-fit: cover;
  object-position: center;
}

.recentMovieInfos{
  height: 250px;
  position: absolute;
  bottom: 30%;
  left: 40px;
  text-transform: uppercase;
  color: aliceblue;
  font-family: "Poppins", sans-serif;
}

.releasedToday{
  width: 240px;
  height: 30px;
  margin: 0;
  font-size: 18px;
  font-weight: unset;
}

.movieTitle{
  font-size: 64px;
  margin: 0;
}

.movieOverview{
  text-transform: initial;
  width: 430px;
  max-height: 147px;
  overflow: hidden;
  font-size: 14px;
  margin: 20px 0;
}

.recentMovieInfos button{
  width: 180px;
  height: 50px;
  background-color: rgb(18, 17, 17);
  border: none;
  color: aliceblue;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.movieButtons{
  display: flex;
  width: 500px;
  gap: 30px;
  align-items: center;
}

.movieButtons button:hover{
  background-color: transparent;
  border: 1px solid aliceblue;
}

