.actorsPageSection{
  color: aliceblue;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}

.Img-accounts-wrapper{
  display: flex;
  width: 100%;
  height: 400px;
  gap: 30px;
}

.socialsAccountsImage{
  width: 300px;
  height: 380px;
}


.ActorCareer{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.actorActingCareer,
.actorOtherDepartmentsJobs,
.actorsPageImagesList{
  width: 100%;
  display: flex;
  overflow-x: scroll;
  gap: 15px;
  scrollbar-color:black transparent;
  height: 500px;
}

.actorFilm{
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 450px;
  cursor: pointer;
}

.actorCareerFilmImg,
.actorOtherDepartmentsJobsImg,
.actorsPageImage{
  width: 180px;
  height: 270px;
  display: block;
  border-radius: 14px;
}

.actorCareerFilmDescription,
.actorOtherDepartmentsJobsDescription{
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 10px;
}

.actorCareerFilmDescriptionTitle,
.actorOtherDepartmentsJobsTitle{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.actorCareerFilmDescriptionVoteAverage,
.actorOtherDepartmentsJobsVoteAverage{
  display: flex;
  gap: 3px;
  align-items: center;
  min-width: 38px;
  height: 22px;
  position: absolute;
  right: 5px;
  top: -279px;
}

.actorCareerFilmDescriptionCharacter{
  font-size: 14px;
}

.actorCareerFilmDescriptionOverview{
  height: 82px;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ffffffa8;
}


.actorOtherDepartmentsJobsFilm{
  display: flex;
  flex-direction: column;
  width: 180px;
  height: 380px;
  cursor: pointer;
}

.actorOtherDepartmentsJobsDepartments,
.actorOtherDepartmentsJobsRoles{
  font-size: 14px;
}
