.seriesPage{
  max-width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: aliceblue;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.seriesPageList{
  width: 90%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
  column-gap: 20px;
  row-gap: 50px;
  margin: 20px 0 60px 0;
}

.seriesPageItem{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  position: relative;
}

.seriesPageItem img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 14px;
}

.seriesPageItem:hover img{
  box-shadow: 0px 0px 20px 0px #d3d1f0;
}

.seriesPageItem:hover::after{
  content: '';
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  background-color: red;

}

.seriesPageItem h2{
 margin: 20px 0 0 0;
  color: aliceblue;
  font-size: 20px;
  white-space: nowrap;
  width: 100%;
  height: 25px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}
