.star-rating {
  position: relative;
  display: inline-block;
  font-size: 24px; 
  line-height: 1;
  white-space: nowrap;
}

.stars-empty {
  color: #ffffff8c; 
  position: relative;
  display: block;
}

.stars-filled {
  color: #ffffff; 
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: hidden; 
  z-index: 111;
}

.star-rating span {
  letter-spacing: 2px;
  display: inline-block;
}