.listPageSection {
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  color: aliceblue;
  padding: 0 30px;
}

.content {
  flex: 1;
}

.listPageTitle {
  font-size: 34px;
  margin-bottom: 20px;
}

.listPageTitle span {
  color: #ff4d4d;
}

.listPopularItems {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  height: 187px;
  gap: 20px;
  padding: 0;
  list-style: none;
}

.libraryAddWishListWrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.libraryBtn{
  min-width: 120px;
  height: 40px;
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: aliceblue;
  font-size: 14px;
  font-weight: 700;
  border-radius: 4px;
  margin-bottom: 5px;
  text-transform:capitalize;
}

.libraryDropdown{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #19066e;
  text-decoration: none;
  list-style-type: none;
  color: #d8d6ea;
  padding: 10px;
  border-radius: 14px;
  position: absolute;
  z-index: 11111111111111111111111;
  gap: 3px;
}

.libraryDropdown button{
  background-color: transparent;
  border: none;
  color: #d8d6ea;
  text-align: start;
  padding: 0;
  font-size: 14px;
  letter-spacing: 0.3px;
}

.myListDropdown{
  text-transform: capitalize;
  cursor: pointer;
  font-size: 14px;
}

.myListDropdown li:hover,
.libraryDropdown button:hover{
  color: rgb(113, 108, 158);
  text-decoration:underline;
  transform: translate(2px, -1px);
  font-weight: 700;
}

.popularItem {
  width: 100%;
  height: 167px;
  position: relative;
  transition: transform 0.25s ease; 
  cursor: pointer;
}

.listPopularItems .star-rating{
  bottom: 64px;
  left: 5px;
}

.popularItem:hover {
  transform: translateY(-6px) scale(1.02);
}

.popularItem img {
  width: 100%;
  height: 150px;
  display: block;
  aspect-ratio: 2 / 3;
  object-fit:fill;
  object-position:top;
  border-radius: 14px;
}

.titleVoteWrapper{
  max-width: 100%;
  height: 30px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  color: #cfcfff;
  margin-top: 5px;
}

.listPageMovieTitle {
  width: 100%;
  height: 20px;
  overflow: hidden;
  padding: 10px;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.listPageMovieAverage{
  background: #141034;
  border-radius: 4px;
  width: 40px;
  height: 19px;
  text-align: center;
  padding: 0 4px 4px 4px;
}

.emptyState {
  width: 100%;
  height: 100%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.listPageTitleDescription {
  background: rgba(255,255,255,0.03);
  border: 1px solid rgba(255,255,255,0.1);
  padding: 20px;
  border-radius: 14px;
  margin-bottom: 25px;
}

.listPageDescription {
  font-size: 15px;
  line-height: 1.6;
  opacity: 0.8;
}

.listPageSubtitle {
  font-size: 22px;
  margin: 20px 0;
}

.listPageListItems{
  width: 90%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(160px, 2fr));
  column-gap: 20px;
  row-gap: 50px;
  margin: 20px 0 60px 0;
}

.listPageItem{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  position: relative;
  color: #cfcfff;
  cursor: pointer;
}

.listPageItem img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 10px;
}

.listPageDeleteBtn{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 5px;
  top: 5px;
}

.listPageBinClose,
.listPageBinOpen{
  position: absolute;
}

.listPageBinOpen{
  display: none;
}

.listPageDeleteBtn:hover .listPageBinOpen{
  display: block;
}

.listPageDeleteBtn:hover .listPageBinClose{
  display: none;
}

.Recomm{
  display: flex;
  flex-direction: column;
}