.listPageSection{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

.listPageTitleDescription{
  border: 1px solid var(--border-color);
  border-radius: 14px;
  width: 90%;
  height: 172px;
  background-color: #0c0f17;
  padding: 10px;

}

.listPageTitle,
.listPageSubtitle{
  color: #E1E1E1;
  width: 416px;
  height: 48px;
  font-weight: normal;
  letter-spacing: 0%;
  font-size: 40px;
}

.listPageTitle span{
  color: #F33F3F
}

.listPageDescription{
  line-height: 25px;
  color: #E1E1E1;
  font-size: 20px;
}

.secondRowDescription{
  display: flex;
  align-items: center;
  width: 100%;
  height: 66px;
  flex-wrap: wrap;
}

.listPageSvg{
  margin: 0 10px;
  fill: #E1E1E1;
}

.listPageListItems{
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(220px, 2fr));
  column-gap: 20px;
  row-gap: 25px;
  margin: 30px 0 0 0;
}

.listPageItem{
  position: relative;
  height: 390px;
  width: 220px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.listPageItem:hover .addToListSection{
  visibility: visible;
   height: 80%;
}

.listPageDeleteBtn{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 5px;
  top: 5px;
}

.listPageBinClose,
.listPageBinOpen{
  position: absolute;
}

.listPageBinOpen{
  display: none;
}

.listPageDeleteBtn:hover .listPageBinOpen{
  display: block;
}

.listPageDeleteBtn:hover .listPageBinClose{
  display: none;
}

.listPageListItems img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 14px;
}

.listPageMovieTitle{
  margin: 5px 0 0 0;
  color: aliceblue;
  font-size: 18px;
  white-space: nowrap;
  width: 100%;
  height: 36px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.createWatchlistBtn{
  width: 120px;
  height: 25px;
  border: none;
  border-radius: 4px;
  text-align: center;
  font-size: 12px;
  margin: 0 10px;
}

.listPageSubtitle{
  font-size: 32px;
}

.itemYear{
  color: #f0f8ffbd;
}

.addToWatchList{
  fill: aliceblue;
  position: absolute;
  bottom: 366px;
  right: 14px;
  display: flex;
  gap: 7px;
  align-items: center;
  width: 47px;
  height: 24px;
}