.homeSection {
  display: flex;
  flex-direction: column;
  padding: 70px;
  color: #FFF;
  gap: 150px;
}

.homeSection .recentlyUpdatesContainer{
  max-width: 100%;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  gap: 30px;
}

.homeSection .sectionTitle{
  font-family: 'Poppsins', sans-serif;
  font-size: 24px;
  font-weight: medium;
  letter-spacing: 0%;
  margin: 0;
}

.homeSection .recentMovie{
  width: 188px;
  height: 103px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.homeSection .recentryMoviesList,
.homeSection .newReleasedList{
  display: flex;
  height: 386px;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  gap: 10px;
}

.homeSection li {
  list-style-type: none;
}

.homeSection a {
  color: #FFF;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

.homeSection .recentryMoviesList img{
  height: 100px;
} 

.homeSection .movieTitle{
  margin: 0 0 10px 0;
  white-space: nowrap;      
  overflow: hidden;         
  text-overflow: ellipsis; 
  max-width: 100px;        
  display: block;  
  font-weight: bold;
  font-size: inherit;
}

.homeSection .recentMovie span{
  font-size: 12px;
}

.homeSection .recentMovieButton{
  background-color: #D9D9D9;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
}

.homeSection .title_viewAll{
  display: flex;
  align-items:baseline;
  justify-content: space-between;
}

.homeSection .title_viewAll button,
.homeSection .RecommendationContainer .viewAll{
  color: hsla(0, 0%, 100%, 0.322);
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight:600;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.homeSection .newReleasedItem img{
  width: 100%;
  height: 293px;
  display: block;
  object-fit: fill;
  border-radius: 10px;
}

.homeSection .titleSection,
.homeSection .runtime_vote{
  height: 20px;
  display: flex;
  align-items: last baseline;
  justify-content: space-between;
  padding: 0 5px;
}

.homeSection .titleSection ul{
  display: flex;
  gap: 10px;
  padding: 0;
}

.homeSection .titleSection .movieTitle,
.homeSection .newReleasedItem .movieTitle{
  max-width: 146px;
  margin: 10px 0 0 0;
}
.homeSection .movieGenre{
  border-radius: 8px;
  font-size: 11px;
  min-width: 35px;
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
  border: 1px solid red;
  padding: 4px 5px;
}

/*newrealed*/

.homeSection .newReleasedContainer{
  max-width: 100%;
  height: 450px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.homeSection .newReleasedItem{
  width: 256px;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.newReleasedItem .epNumber{
  border: 1px solid red;
  background-color: red;
  color: #FFF;
  width: 50px;
  padding: 2px;
  text-align: center;
  border-radius: 4px;
  position: absolute;
  top: 5px;
  left: 5px;
}

.homeSection .newReleasedItem img{
  height: 344px;
}

.homeSection .newReleasedItem:hover .addToListSection{
  visibility: visible;
}

.homeSection .titleSection .seasonNumber{
  border: 1px solid red;
  margin: 0;
  padding: 3px;
  border-radius: 8px;
  width: 70px;
  height: 16px;
  text-align: center;
}

.homeSection .runtime_vote{
  width: 96.5%;
  position: absolute;
}

.homeSection .runtime_vote span{
  display: flex;
  gap: 3px;
}

.homeSection .runtime_vote svg{
  width: 13px;
  height: 13px;
}

.homeSection .RecommendationContainer{
  display: flex;
  flex-direction: column;
  height: 848px;
  overflow-y: hidden;
  position: relative;
}

.homeSection .RecommendationContainer .viewAll{
  position: absolute;
  top: 9px;
  right: 0;
}

/*Trailers*/
.homeSection .trailersContainer{
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.homeSection .trailersWrapper{
  display: flex;
  height: 180px;
  gap: 10px;
  overflow-y: hidden;
}