.searchBarSection{
  position: relative;
}

.searcbarForm {
  display: flex;
  justify-content: center;
  position: relative;
  width: 416px;
  height: 40px;
  border-radius: 25px;
  background-color: #FFF;
  padding: 0 10px;
}
.searcbarForm input[type='text'] {
  border: none;
  border-radius: 25px;
  width: 100%;
  outline: none;
}
.searcbarForm button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 9px;
  padding: 0;
}