.createWatchlistSection{
  width: 100%;
  height: 100%;
  background-color: #0c0f17cb;
  display: flex;
  justify-items: center;
  align-items: center;
  z-index: 99999999;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.createWatchlistForm{
  width: 700px;
  height: 280px;
  display: flex;
  flex-direction: column;
  color: #E1E1E1;
  border: 1px solid var(--border-color);
  border-radius: 14px;
  background-color: #0c0f17;
  padding: 15px;
  gap: 20px;
  position: relative;
}

.createWatchlistFormTitle{
  font-size: 20px;
  color: #E1E1E1;
  width: 219px;
  margin: 0;
}

.createWatchlistFormLabel{
  font-size: 18px;
  font-weight: 600;
  width: 461px;
  display: flex;
  justify-content: space-between;
}

.inputWatchlistDescription,
.inputWatchlistName{
  width: 295px;
  height: 144px;
  outline: none;
  border: 1px solid var(--border-color);
  background-color: #111522;
  border-radius: 4px;
  padding: 5px;
  color: #E1E1E1;
  font-size: 16px;
}

.inputWatchlistName{
  height: 40px;
}

.createWatchlistFormBtnContainer{
  display: flex;
  gap: 10px;
  align-items: center;
  width: 187px;
  height: 50px;
  position: absolute;
  bottom: 21px;
  right: 10px;
}

.createWatchlistFormCancelBtn{
  background-color: transparent;
  border: none;
  color: var(--border-color);
  font-size: 16px;
  width: 60px;
  height: 24px;
  border-bottom: 2px solid gold;
  padding-bottom: 2px;
  text-align: center;
}

.createWatchlistFormSaveBtn{
  background-color: var(--border-color);
  border-radius: 4px;
  width: 110px;
  height: 41px;
  border: none;
  font-size: 16px;
  color: #000000;
}