.header {
  max-width: 100%;
  height: 70px;
  margin: 0px auto;
  background-color: transparent;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation {
  width: 100%;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
}

.genList,
.moviesTypes,
.seriesTypes{
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #19066e;
  text-decoration: none;
  list-style-type: none;
  color: #d8d6ea;
  z-index: 1111111111;
  top: 46px;
  left: 239px;
  width: 150px;
  padding: 5px;
  height: 182px;
  overflow-y: scroll;
  scrollbar-width: none;
  border-radius: 14px;
  cursor: pointer;
}

.link{
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 0%;
  font-weight: 600;
  text-decoration: none;
  position: relative;
}

.userMenu{
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  position: relative;
}

.userMenuList{
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: -87px;
  width: 94px;
  height: 67px;
  background-color: #19066e;
  text-decoration: none;
  list-style-type: none;
  color: #d8d6ea;
  padding: 10px;
  border-radius: 14px;
  align-items: baseline;
}

.watchlistLink{
  list-style-type: none;
  text-decoration: none;
  color: #d8d6ea;
  font-size: 17px;
}

.link:hover::after{
  content: "";
  width: 5px;
  height: 5px;
  background-color: #FF0000;
  border-radius: 50px;
  position: absolute;
  bottom: -20px;
  left: 41%;
}

.logOutButton{
  background-color: transparent;
  border: none;
  color: #d8d6ea;
  font-size: 15px;
  cursor: pointer;
  padding: 0;
  letter-spacing: 1px;
}

.moviesTypes,
.seriesTypes{
  width: 100px;
  height: 100px;
  justify-content: space-between;
  padding: 10px;
  left: 723px;
}
.seriesTypes{
  left: 844px;
}