.loginSection {
  max-width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.loginForm{
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  gap: 20px;
  margin-top: 70px;
}

.helloText{
  width: 462px;
  height: 114px;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  letter-spacing: 0%;
  color: #E1E1E1;
  margin: 0;
}

.loginSection label {
  display: flex;
  flex-direction: column;
  position: relative;
}

.loginSection label svg{
  position: absolute;
  top: 19px;
  right: 0;
}

.input{
  width: 279px;
  height: 41px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ffffff;
  color: #D9D9D9;
  outline: none;
  padding: 0 5px;
  margin-top: 10px;
  outline-style: none;
}


.input::placeholder{
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
}

.loginSection button{
  width: 289px;
  height: 41px;
  background: var(--bgcolor);
  border: none;
  border-radius: 40px;
  font-family: 'Lato', sans-serif;
  color: #f0f8ffb3;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.loginSection button:hover{
  background-color: transparent;
  border: none;
  transform:scale(1.03);
  transition: transform var(--transition);
}

.loginForm a{
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
}

@media screen and  (max-width: 374px) {
  .loginForm{
    margin-left: 82%;
  }
}


@media screen and  (max-width: 416px) {
  .loginForm{
    margin-left: 64%;
  }
}

@media screen and  (max-width: 455px) {
  .loginForm{
    margin-left: 50%;
  }
}

@media screen and  (max-width: 571px) {
  .loginForm{
    margin-left: 30%;
  }
}