 /* bring in normalize.css styles */

:root{
  --border-color: gold;
  --addToListcolor: rgb(251, 255, 0);
  --bgcolor: radial-gradient(circle, rgb(19, 12, 81), black)
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: radial-gradient(circle, rgb(19, 12, 81), black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h3,
h4,
p{
  margin: 0;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button{
  cursor: pointer;
}
.viewAll{
  color: hsla(0, 0%, 100%, 0.322);
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight:600;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.viewAll:hover{
  color: aliceblue;
}